* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-color);
}

html {
  font-size: 16px;
  background-image: var(--bory-color);
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

}

:root {
  --text-color: white;
  --buton-color: rgb(105, 0, 105);
  --buton-color-hover: #DBC3A6;
  --bory-color: url(./img/ceunoite3.gif);
  --conteiner-color: rgb(105, 0, 105);
  --box-color: rgb(105, 0, 105);
  --houver-color: #673FD7;
  --div-apresentome: #010100;
  --switch-bg-url: url(./img/gatoamarelo-removebg-preview.png);
  --switch-bg-url-medea: url(./img/gatoamarelo-removebgpequeno-preview.png);
}

.light {
  --text-color:  #39082b;;
  --buton-color: #DBC3A6;
  --buton-color-hover: rgb(105, 0, 105);
  --bory-color: url(./img/ceudia2.gif);
  --conteiner-color: #ecc5c8cb;
  --box-color:#ecc5c8cb;
  --div-apresentome: #DBC3A6;
  --switch-bg-url: url(./img/gatapreta-removebg-preview.png);
  --switch-bg-url-medea: url(./img/gatapreta-removebgpequena-preview.png);
}
#teste {
 
  height: 250px;
  width: 250px;
}

body {
  color: var(--text-color);
  background: no-repeat;
  background-image: var(--bory-color)no-repeat top center/cover;

  
}
header {
  color: var(--text-color);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background-color: rgba(246, 0, 217, 0.216);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  opacity: 0.9;
  border-radius: 5px;
  padding: 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
}

nav {
  color: var(--text-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 100%;
}

.nav-list ul {
  color: var(--text-color);
  display: block;
  list-style-type: disc;
  margin-block: 1em; margin-inline: 0px; padding-inline-start: 40px; }

.nav-list {
  color: var(--text-color);
  display: flex;
  letter-spacing: 3px;
  gap: 3em;
  list-style: none;
}

.menu {
  color: var(--text-color);
  margin-left: 40px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}

#sobre {

  background-color: var( --conteiner-color);

}

.content {
  margin-top: 60px;
  padding-right: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.div-eu {
  margin-top: 150px;
  margin-left: 0px;
  width: 40%;
  position: relative;
  align-items: center;
}

#switch {
 
  margin: 50px 50px 0px;
  height: 500px;
  border-radius: 50%;
  top: 50%;
  background-color: var(--buton-color);
}

#switch button {
  width: 524px;
  height: 524px;
  background: var(--switch-bg-url) no-repeat center;
  border: 0px;
  border-radius: 50%;
  margin-top: 270px;
  top: 50%;
  left: 0px;
  z-index: 1;
  transform: translateY(-50%);
  animation: 0.2s ease 0s 1 normal none running slide-back;
}

.light #switch button {
  animation: 0.2s ease 0s 1 normal forwards running slide-in;
}

#switch button:hover {
  background-color: var(--buton-color-hover);
  box-shadow: rgba(232, 84, 178, 0.4) -5px 5px, rgba(237, 93, 184, 0.3) -10px 10px, rgba(236, 64, 173, 0.2) -15px 15px, rgba(228, 69, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.home {
  height: 780px;
}

h1 {
  margin-bottom: 20px;
  font-size: 90px;
  color: var(--text-color);
}

h2 p {
  color: black;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


#services {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#projetos {
  padding-right: 40px;
  margin: 60px 70px 50px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
 
  height: 400px;
  padding: 20px;
  border-radius: 15px;
  background: var(--box-color);
  transition: all 0.8s ease 0s;
  cursor: pointer;
  z-index: 5;
  box-shadow: rgba(16, 4, 11, 0.4) -5px 5px, rgba(237, 93, 184, 0.3) -10px 10px, rgba(236, 64, 173, 0.2) -15px 15px, rgba(228, 69, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.principal2 {
  border-radius: 16px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 180px;
  padding-right: 40px;
  background-color: var(--conteiner-color);
  justify-content: space-around;
  flex-wrap: wrap;
}

.div-apresentome {
  margin-top: -520px;
  margin-left: 500px;
  position: relative;
  align-items: center;
  width: 1000px;
  height: 400px;
  color: rgb(0, 0, 0);
}

#teste {

  height: 250px;
  width: 250px;
}



.content {
  margin-top: 60px;
  padding-right: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.div-eu {
  margin-top: 150px;
  margin-left: 0px;
  width: 40%;
  position: relative;
  align-items: center;
}



.home {
  
 
}

h1 {
  margin-bottom: 20px;
  font-size: 90px;
  color: var(--text-color);
}

h2 p {
  color: black;
}

.row {
  
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.row2 {
  display: flex;
}

#services {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#projetos {
  padding-right: 40px;
  margin: 60px 70px 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



#apresentafoto {
  height: 500px;
}

#social-links a {
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
}

#social-links a:hover {
  background-position: left bottom;
  color: var(--bory-color);
  border: none;
  box-shadow: rgb(128, 31, 130) 0px 0px 20px;
}

#habilidade {

  display: flex;
  justify-content: center;
  padding: 24px 0px;
  font-size: 24px;
  align-items: center;
}

.div-img {
  width: 100%;
  height: 100%;
}

.sobre {
  background-color: rgb(128, 31, 130);
}

#footer-pagina {
  height: 9.5rem;
  background-color: rgb(36, 7, 42);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.redes-socias-footer img {
  height: 2rem;
  width: 2rem;
}

.logo-footer img {
  height: 10rem;
  width: 15rem;
  margin-right: 7rem;
}

.redes-socias-footer {
  display: flex;
  justify-content: space-around;
  width: 15rem;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 8px;
  transition: all 0.3s ease 0s;
}

#Projetos {
  background-color: rgb(255, 255, 255);
}

footer {
  background-color: rgb(103, 63, 215);
  display: flex;
  justify-content: center;
  padding: 24px 0px;
  font-size: 24px;
}



